body {
  background: black;
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  align-items: stretch;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh !important;
  max-width: 65vw;
  text-align: left;
}

a {
  color: rgb(245, 32, 32);
  font-weight: 600;
  outline: none !important;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  cursor: pointer;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.active {
  color: white !important;
  font-weight: 800;
}

.active::before {
  content: '[';
}

.active::after {
  content: ']';
}

.bold {
  font-weight: 800;
}

.cold {
  color: lightblue;
}

.fire {
  color: red;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex > * {
  flex: 0 0 25%;
}

footer {
  background: #101010;
  border-top: 8px solid gray;
  display: flex;
  flex-direction: column;
}

#footer-details {
  color: white;
  display: flex;
  gap: 30px;
  padding: 20px;
}

#footer-details a {
  color:rgb(245, 32, 32);
  font-family: 'Share Tech Mono';
  text-decoration: none;
}

#footer-details a:hover {
  color: white;
}

.gold {
  color: gold;
}

header {
  align-items: center;
  background: #101010;
  border-bottom: 8px solid gray;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
}

#icon img {
  border: 4px solid black;
  border-radius: 50px;
  width: 80px;
  filter: contrast(110%);
  filter: brightness(120%);
  -webkit-filter: contrast(110%);
  -webkit-filter: brightness(120%);
}

li {
  margin: 10px 0 0 0;
}

.lightning {
  color: yellow;
}

#main-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 10px 0 40px 0;
  text-align: center;
}

.magic {
  color: violet;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  padding: 25px 0;
}

.nav-link {
  color: rgb(245, 32, 32);
  font-family: 'Share Tech Mono';
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: white;
}

.no-bullet {
  list-style-type: none;
}

.poison {
  color: green;
}

.red {
  color: red;
}

section {
  background: #161616;
  color: white;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
}

#sitemap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 20px;
}

.sitemap-link {
  color: rgb(245, 32, 32);
  flex: 0 0 19%;
  font-family: 'Share Tech Mono';
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.sitemap-link:hover {
  color: white;
}

#title {
  color: white;
  font-family: 'Share Tech Mono', 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  padding-left: 10px;
  max-width: 150px;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: square;
}

.underline {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}