body {
  background: black;
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  align-items: stretch;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh !important;
  max-width: 70vw;
  text-align: left;
}

footer {
  background: #101010;
  border-top: 8px solid gray;
  display: flex;
  flex-direction: column;
}

#footer-details {
  color: white;
  display: flex;
  gap: 30px;
  padding: 20px;
}

#footer-details a {
  color:rgb(245, 32, 32);
  text-decoration: none;
}

#footer-details a:hover {
  color: white;
  text-decoration: underline;
}

header {
  align-items: center;
  background: #101010;
  border-bottom: 8px solid gray;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
}

#icon img {
  width: 80px;
  filter: contrast(110%);
  filter: brightness(120%);
  -webkit-filter: contrast(110%);
  -webkit-filter: brightness(120%);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  padding: 25px 0;
}

.nav-link {
  color: rgb(245, 32, 32);
  font-family: 'Share Tech Mono';
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: white;
}

section {
  background: #161616;
  color: white;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
}

#sitemap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 20px;
}

.sitemap-link {
  color: rgb(245, 32, 32);
  flex: 0 0 19%;
  font-family: 'Share Tech Mono';
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
}

.sitemap-link:hover {
  color: white;
}

#title {
  color: white;
  font-family: 'Share Tech Mono', 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  padding-left: 10px;
  max-width: 150px;
}